spring:
  datasource:
    jndi-name: false
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:federation;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=-1;
    username: sa
    password: ''
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
