spring:
  profiles:
    include:
      - mysql
  h2:
    console:
      enabled: true
      path: /h2-console
springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /swagger
efgs:
  dbencryption:
    password: m:zteZXp4QPaD?J@f+|'#y;be1fJRXnY
  trustAnchor:
    keyStorePath: classpath:keystore/efgs-ta.jks
