server:
  port: ${SERVER_PORT:8090}
spring:
  application:
    name: eu-interop-federation-gateway
  datasource:
    jndi-name: jdbc/efgs
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: validate
      connection:
        isolation: 8
  liquibase:
    enabled: true
    change-log: classpath:db/changelog.yml
springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /swagger
efgs:
  callback:
    execute-interval: 300000
    task-lock-timeout: 300
    proxy-host: localhost
    proxy-port: 1234
    timeout: 10000
    core-thread-pool-size: 0
    max-retries: 5
    retry-wait: 300000
  content-negotiation:
    protobuf-version: 1.0
    json-version: 1.0
  upload-settings:
    maximum-upload-batch-size: 5000
  download-settings:
    max-age-in-days: 14
  cert-auth:
    header-fields:
      thumbprint: X-SSL-Client-SHA256
      distinguished-name: X-SSL-Client-DN
  batching:
    locklimit: 1800000
    timelimit: 1200000
    timeinterval: 300000
    doclimit: 5000
