server:
  port: 8090
spring:
  application:
    name: eu-interop-federation-gateway
  datasource:
    jndi-name: jdbc/efgs
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: validate
  liquibase:
    enabled: true
    change-log: classpath:db/changelog.yml
springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /swagger
efgs:
  dbencryption:
    initVector: WnU2IQhlAAN@bK~L
  trustAnchor:
    keyStorePath: /ec/prod/app/san/efgs/efgs-ta.jks
    keyStorePass: 3fgs-p4ssw0rd
    certificateAlias: efgs_trust_anchor
  callback:
    keyStorePath: /ec/prod/app/san/efgs/efgs-cb-client.jks
    keyStorePass: 3fgs-p4ssw0rd
    keyStorePrivateKeyAlias: efgs_callback_key
    keyStoreCertificateAlias: efgs_callback_cert
    execute-interval: 300000
    task-lock-timeout: 300
    proxy-host: ${https.proxyHost:}
    proxy-port: ${https.proxyPort:-1}
    proxy-user: ${https.proxyUser:}
    proxy-password: ${https.proxyPassword:}
    timeout: 10000
    core-thread-pool-size: 0
    max-retries: 5
    retry-wait: 300
  content-negotiation:
    protobuf-version: 1.0
    json-version: 1.0
  upload-settings:
    maximum-upload-batch-size: 5000
  download-settings:
    max-age-in-days: 14
  cert-auth:
    header-fields:
      thumbprint: X-SSL-Client-SHA256
      distinguished-name: X-SSL-Client-DN
  batching:
    locklimit: 1800000
    timelimit: 1200000
    timeinterval: 300000
    doclimit: 5000
