server:
  port: 8090
spring:
  application:
    name: eu-interop-federation-gateway
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:federation;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=-1;
    username: sa
    password: ''
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: validate
      connection:
        isolation: 8
  liquibase:
    enabled: true
    change-log: classpath:db/changelog.yml
springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /swagger
efgs:
  callback:
    task-lock-timeout: 300
    proxy-host: localhost
    proxy-port: 1234
    timeout: 10000
    core-thread-pool-size: 0
    max-retries: 5
    retry-wait: 300000
  content-negotiation:
    protobuf-version: 1.0
    json-version: 1.0
  upload-settings:
    maximum-upload-batch-size: 5000
  download-settings:
    max-age-in-days: 14
  cert-auth:
    header-fields:
      thumbprint: X-SSL-Client-SHA256
      distinguished-name: X-SSL-Client-DN
    cert-whitelist:
      - abc
  batching:
    timeinterval: 300000
    doclimit: 5000
